<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mongo NASA Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/saved">Saved Articles</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="background-image">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="display-4">Mongo Scraper</h1>
                <hr class="my-4">
                <p class="lead">Space Edition 🚀</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid article-container">
    {{#if headlines}}
    {{#each headlines}}
    <div class="row card border-info text-white bg-dark mb-4" data-id='{{this._id}}'>
        <div class="card-header">
            <a class="article-link float-left" href="{{this.url}}">
                <h2>{{this.title}}</h2>
            </a>
            <button id="delete-btn" class="delete-btn btn btn-outline-danger float-right ml-2" href="">Delete from saved</button>
            <button id="notes-btn" class="notes-btn btn btn-outline-info float-right">View Notes</button>
        </div>
        <div class="card-body">
            {{this.summary}}
        </div>
    </div>
{{/each}}
{{else}}
    <div class="row card border-info text-white bg-dark mb-4">
        <div class="card-header text-center">
            No Saved Articles. <a href="/"><h2>Add some!</h2></a>
        </div>
        <div class="card-body">
        </div>
    </div>
{{/if}}

</div>

<script src="../assets/js/saved.js"></script>